body {
	background: #f1f1f1;
}

p {
	font-family: "Trebuchet MS", helvetica, sans-serif;

}
h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left: 60px;
}
h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left: 60px;
}

img{
	padding-bottom: 30px;
	padding-top: 30px;
}

.navbar-header {
	background-color: #f1f1f1
}
.navbar-inverse {
	background-color: #f1f1f1
}
links {
	color: #2B9BE6
}
